@* @page "/narrativeList" *@
@rendermode InteractiveAuto
@using HeroesOfLegends.Businsess.Models
@inject INarrativeManager NarrativeManager


<h3 class="text-center">Příběhy</h3>

<div class="card" style="width: 18rem;">
   

    @if(NarrativeData != null)
    {
        <ul class="list-group list-group-flush text-center">
            @foreach(var item in NarrativeData)
            {
                <li class="list-group-item">@SelectNarrative(item)</li>
            }
            <li class="list-group-item newNarrative">
                <label>Nový příběh</label>
            </li>
        </ul>
    }
    else
    {

        <label class="list-group-item text-center">
            <label><em>Označ svět...</em></label>
        </label>
    }



</div>

@code {

    [Parameter]
    public IEnumerable<int>? NarrativeData { get; set; }


    string SelectNarrative(int id)
    {
        var narrative = NarrativeManager.GetAll().Where(x => x.Id == id).Select(x => x.NarrativeName).FirstOrDefault();
        return narrative;

    }
}

<style>
    .newNarrative {
        background-color: #f8f9fa;
        cursor: pointer;
    }
    .newNarrative:hover {
        background-color: #e9ecef;
    }
    .newNarrative:active {
        background-color: #dee2e6;
    }
</style>