
@rendermode InteractiveAuto
@using HeroesOfLegends.Businsess.Models
@inject IRaceManager RaceManager


<h3 class="text-center">Dostupné rasy</h3>

<div class="card" style="width: 20rem;">
   

    @if(Races != null)
    {
        <ul class="list-group list-group-flush text-center">
            @foreach(var item in Races)
            {
                <a href="/showRaceData/@item">
                    <li class="list-group-item btn btn-outline-secondary" >@SelectRace(item) </li>
                </a>
               
            }
        </ul>
    }
    else
    {

        <label class="list-group-item text-center">
            <label><em>Označ svět...</em></label>
        </label>
    }


</div>

@code {
    [Parameter]
    public IEnumerable<int>? Races { get; set; }
    //public IEnumerable<string>? Narratives { get; set; }

    string SelectRace(int id)
    {
        var race = RaceManager.GetAllRace().Where(x => x.RaceId == id).Select(x => x.RaceName).FirstOrDefault();
         return race;

    }
}

<style>
    .newNarrative {
        background-color: #f8f9fa;
        cursor: pointer;
    }
    .newNarrative:hover {
        background-color: #e9ecef;
    }
    .newNarrative:active {
        background-color: #dee2e6;
    }
</style>