@page "/ProfessionHome"
@rendermode InteractiveServer



<div class="container">
    <div class="header">
        <h1>Heroes Of Legends</h1>
        <p>Profession Skills</p>
    </div>
    <div class="profile">
        <div>
            <p>Level: 1</p>
            <p>Životy: 10</p>
            <p>Mana: -</p>
            <p>Volné profibody: 22</p>
        </div>
        <div>
            <p>Jméno</p>
            <p>Rasa ???</p>
        </div>
    </div>
    <div class="tabs">
        <div>Boj</div>
        <div>Kouzla</div>
        <div>Lov</div>
        <div>Alchymie</div>
    </div>
    <div class="content">
        <div class="options">
            <p>Option 1</p>
            <p>Option 2</p>
            <p>Option 3</p>
            <p>Option 4</p>
            <p>Option 5</p>
        </div>
        <div class="text">
            <p>Some default text to fill some space, and something more so there is more text</p>
            <p>Some default text to fill some space, and something more so there is more text</p>
            <p>Some default text to fill some space, and something more so there is more text</p>
            <p>Some default text to fill some space, and something more so there is more text</p>
        </div>
        <div class="lorem">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
        </div>
    </div>
    <div class="sections">
        <div class="section">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </div>
        <div class="section">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </div>
        <div class="section">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </div>
        <div class="section">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </div>
    </div>
</div>
@code {

}
