

  
        <Card>

            <CardBody>
                <CardTitle Class="text-center">@RaceData.RaceName (@RaceData.RaceId)</CardTitle>

                <CardSubTitle Class="mb-2 text-muted">fghdfgh</CardSubTitle>

                <CardText>
                   
                </CardText>

                <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go somewhere</Button>
            </CardBody>
        </Card>


@code {
    [Parameter] public RaceDto? RaceData { get; set; }
}