@page "/raceHome"
@using BlazorBootstrap
@rendermode InteractiveServer
@inject IRaceManager RaceManager
@inject IProfessionManager ProfessionManager

<h3>Rasy</h3>


<Tabs EnableFadeEffect="false">

    
    @foreach(var race in RaceManager.GetAllData())
    {
        <Tab >
            <TitleTemplate>
                <Icon Name="IconName.PersonFill" /> @race.RaceName
            </TitleTemplate>

            <Content>
                <div class="row">
                     <RaceInfoCard RaceData="race" />
                </div> 
            </Content>

        </Tab>
    }

    
</Tabs>

