@page "/converter"
@rendermode InteractiveServer





<h3>Centymetry</h3>
<input value="@cm" type="number" @onchange="Prepocet" />
<p>centimetry: @cm</p>









@code 
{
    double cm = 1;

    void Prepocet(ChangeEventArgs e)
    {
        double.TryParse(e.Value.ToString(), out cm);
    }
}
