@page "/imageswapper"
@rendermode InteractiveAuto





@* 
    @foreach (var world in WorldDataCollection)
    {
        
            <div class="item">
                <h3>@world.Id</h3>
                <div class="number">@world.WorldName</div>  
            </div>
       
    }
 *@




@* <BitSwiper ScrollItemsCount="1">

    <BitSwiperItem Class="item">
        <div class="number">1</div>
        <div class="mmm1"/>
    </BitSwiperItem>

    <BitSwiperItem Class="item">
        <div class="number">2</div>
        <div class="mmm3" />
    </BitSwiperItem>

    <BitSwiperItem Class="item">
        <div class="number">3</div>
        <div class="mmm2" />
    </BitSwiperItem>

    <BitSwiperItem Class="item">
        <div class="number">4</div>
        <div class="mmm4" />
    </BitSwiperItem>

</BitSwiper> *@



@code {
    // [Parameter]
    // public ICollection<WorldDto> Worlds { get; set; }

    string img1 = "Images/world1.jpeg";
    string img2 = "Images/world2.jpeg";
    string img3 = "Images/world3.jpeg";
    string img4 = "Images/PlaceholderImg.png";


}


<style>
    .item {
        width: 250px;
        height: 100%;
    }
    .item:hover{
        transform: scale(1.2);
       transition: transform 0.75s;
       transform-origin: bottom;
    }


    .number {
        position: absolute;
        top: 0.75rem;
        padding: 0.75rem;
        font-size: 1rem;
        color: #D7D7D7;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
       
    }

    .mmm1 {
        width: 245px; /* Zvolená šířka */
        height: 300px; /* Zvolená výška */
        background-image: url(@img1);
        background-size: cover; /* Obrázek pokryje celý dostupný prostor */
        background-position: top; /* Obrázek bude vycentrován */
    }

    .mmm2 {
        width: 245px;
        height: 300px; 
        background-image: url(@img2);
        background-size: cover; 
        background-position: top; 
        
    }

    .mmm3 {
        width: 245px;
        height: 300px; 
        background-image: url(@img3);
        background-size: cover; 
        background-position: top; 
    }

    .mmm4 {
        width: 245px;
        height: 300px; 
        background-image: url(@img4);
        background-size: cover; 
        background-position: top;
    }
  

</style>